{% comment %} default section {% endcomment %}

<link rel="stylesheet" href="{{ 'product-byob.css' | asset_url }}">

<div class="bundlesuite-container">
  <div class="banner-image">
    <img
      src="https://s3-alpha-sig.figma.com/img/887a/054d/fce13d95ea9bfebf16ec9a02f5d7a9a4?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QVweIohtsK8EJ2Akk4~c5jRH75DBXwBXVbgtHVuuuw~gNJ9TNT0nCNY5LE0xpi-N0~slx0Glnje5iaWF~ca9k6I88O9g8K7d7g2rk8bXNUXtqZCQbipiFL4pPvzzpuCrV-TDJassGE1hn1HZB8mbZGdlu5kYTE9WbxGoBZPpUhVNmMCmOnGqbzxqHFn1Q~su8oESCn3-paTGI1qh~kVDs8jr~k1wuNksPE5L0Ua-qvkmrwijunummMrgy-u85euJvS0BE-hY7-~LuHNAI9mEGmu-rYPdd1ty-~VCGp-3vfeIcnsEy~ZKtF~K0swDWl1nrDc4yZoD8nem8PvFdioTig__"
      height="100%"
      width="100%"
      alt=""
    >
  </div>

  <div class="bundlesuite-container-content">
    <div class="template-top-data">
      <div class="template-top-data-header">
        <div class="template-top-data-header-title">
          <h2>Build your BundleSuite</h2>
        </div>
        <div class="template-top-data-header-description">
          <p>
            Build your snack box by selecting any 5 products from 6 products and get discount for more products you add.
          </p>
        </div>
      </div>
      <div class="template-top-data-discount-info">
        <div class="discount-info-item">
          <div class="discount-info-item-title">
            <h3>15% off</h3>
          </div>
          <div class="discount-info-item-description">
            <p>1 Product</p>
          </div>
        </div>
        <div class="discount-info-item">
          <div class="discount-info-item-title">
            <h3>15% off</h3>
          </div>
          <div class="discount-info-item-description">
            <p>1 Product</p>
          </div>
        </div>
      </div>
    </div>

    <div class="template-product-discount-container">
      <div class="product-variant-selector closed">
        <div class="product-variant-selector-wrapper">
          <div class="close-variant-selector">
            <button>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="24" height="24" rx="12" fill="#0F0F0F"/>
                <path d="M14.8281 9.17188L9.17127 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.17188 9.17188L14.8287 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>

          <div class="product-variant-selector-content">
            <div class="product-variant-selector-header">
              <h3>Art De La Table bainville t-shirt</h3>
            </div>
          </div>

          <div class="product-variant-selector-colors product-variant-selector-section">
            <div class="pvsc-header color-header">
              <p>Select a colour variation for the selected product</p>
            </div>
            <div class="pvsc-items-container color-items-container">
              <div class="pvsc-item">
                <div class="pvsc-item-image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                    alt=""
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="pvsc-item-title">
                  <h4>Forest green</h4>
                </div>
              </div>
              <div class="pvsc-item">
                <div class="pvsc-item-image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                    alt=""
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="pvsc-item-title">
                  <h4>Forest green</h4>
                </div>
              </div>
              <div class="pvsc-item">
                <div class="pvsc-item-image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                    alt=""
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="pvsc-item-title">
                  <h4>Forest green</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="product-variant-selector-size product-variant-selector-section">
            <div class="pvsc-header size-header">
              <p>Select a size variation for the selected product</p>
            </div>
            <div class="pvsc-items-container size-items-container">
              <div class="pvsc-item">
                <div class="size">
                  <p>S</p>
                </div>
              </div>
              <div class="pvsc-item selected">
                <div class="size">
                  <p>S</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-variant-selector-cta">
          <button>select variant</button>
        </div>
      </div>
      <div class="tpdc-wrapper">
        <div class="main-product-content-container">
          <div class="discount-stepper-container">
            <div class="discount-stepper">
              <div class="discount-stepper-item active">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
              <div class="discount-stepper-item active">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
              <div class="discount-stepper-item">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
              <div class="discount-stepper-item">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
            </div>

            <div class="discount-info-container">
              <div class="discount-info-container-header">
                <h3>
                  <svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.6 23.32C1.57333 23.3467 1.46667 23.3067 1.28 23.2C1.12 23.12 0.973333 23.0267 0.84 22.92C0.706667 22.8133 0.653333 22.7467 0.68 22.72L17.88 0.96C17.9333 0.879999 18.04 0.893333 18.2 1C18.36 1.08 18.5067 1.18666 18.64 1.32C18.7733 1.45333 18.8133 1.54667 18.76 1.6L1.6 23.32ZM13.08 23.2C11.8267 23.2 10.8667 22.7067 10.2 21.72C9.56 20.7067 9.37333 19.48 9.64 18.04C9.8 17.08 10.1333 16.2133 10.64 15.44C11.1467 14.6667 11.7733 14.0533 12.52 13.6C13.2667 13.1467 14.0533 12.92 14.88 12.92C16.1067 12.92 17.0267 13.4267 17.64 14.44C18.28 15.4533 18.4667 16.6667 18.2 18.08C17.9333 19.52 17.32 20.7333 16.36 21.72C15.4267 22.7067 14.3333 23.2 13.08 23.2ZM13.4 22.6C14.2 22.6 14.76 22.2 15.08 21.4C15.4267 20.6 15.68 19.5867 15.84 18.36C16.08 16.76 16.08 15.56 15.84 14.76C15.6267 13.9333 15.2 13.52 14.56 13.52C13.7867 13.52 13.2 13.9467 12.8 14.8C12.4267 15.6267 12.16 16.6533 12 17.88C11.76 19.2133 11.7333 20.3333 11.92 21.24C12.1067 22.1467 12.6 22.6 13.4 22.6ZM5.28 10.88C4.02667 10.88 3.08 10.3867 2.44 9.4C1.8 8.38667 1.61333 7.14667 1.88 5.68C2.04 4.74667 2.37333 3.89333 2.88 3.12C3.38667 2.34667 4.01333 1.73333 4.76 1.28C5.50667 0.826666 6.29333 0.6 7.12 0.6C8.37333 0.6 9.30667 1.10667 9.92 2.12C10.5333 3.13333 10.7067 4.36 10.44 5.8C10.1733 7.21333 9.56 8.41333 8.6 9.4C7.64 10.3867 6.53333 10.88 5.28 10.88ZM5.6 10.32C6.37333 10.32 6.92 9.92 7.24 9.12C7.58667 8.32 7.85333 7.30667 8.04 6.08C8.30667 4.48 8.32 3.26667 8.08 2.44C7.86667 1.61333 7.44 1.2 6.8 1.2C6 1.2 5.41333 1.62667 5.04 2.48C4.66667 3.33333 4.38667 4.36 4.2 5.56C3.98667 6.89333 3.97333 8.02667 4.16 8.96C4.34667 9.86667 4.82667 10.32 5.6 10.32Z" fill="white"/>
                  </svg>
                  Add 2 more items for maximum discount of 35%!
                </h3>
              </div>
            </div>
          </div>

          <div class="main-wrapper">
            <div class="collection-info-container">
              <div class="collection-info-container-header">
                <h3>Choose products from any two collections</h3>
              </div>
              <div class="collection-info-container-content">
                <p>Select collections to view all the available products in one list.</p>
              </div>
            </div>

            <div class="collection-tab-links-container">
              <div class="tab-link-item">
                <p>Collection 1</p>
              </div>
              <div class="tab-link-item">
                <p>Collection 2</p>
              </div>
            </div>

            <div class="collection-tab-content-container">
              <div class="collection-tab-content-item">
                <div class="collection-products-container-header">
                  <p>(6 Products)</p>
                </div>
                <div class="collection-products-container">
                  <div class="product-card">
                    <div class="product-card-wrapper">
                      <div class="product-card-image">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                          alt=""
                          width="100%"
                          height="100%"
                        >
                      </div>

                      <div class="product-card-content">
                        <div class="product-card-top">
                          <div class="product-title">
                            <h4>Art De La Table bainville t-shirt</h4>
                          </div>
                          <div class="current-variant">
                            <p>Black</p>
                          </div>
                        </div>

                        <div class="product-card-mid">
                          <div class="product-price">
                            <p><span>$</span>100</p>
                          </div>
                          <div class="product-available-variants">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="product-card-cta">
                        <div class="quantity-minus">
                          <button>
                            <svg
                              width="16"
                              height="1"
                              viewBox="0 0 16 1"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 0.5H15" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="add-to-bundle">
                          <button>Add to Cart</button>
                        </div>
                        <div class="quantity-plus">
                          <button>
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M11 5.5V19.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4 12.5H18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-card">
                    <div class="product-card-wrapper">
                      <div class="product-card-image">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                          alt=""
                          width="100%"
                          height="100%"
                        >
                      </div>

                      <div class="product-card-content">
                        <div class="product-card-top">
                          <div class="product-title">
                            <h4>Art De La Table bainville t-shirt</h4>
                          </div>
                          <div class="current-variant">
                            <p>Black</p>
                          </div>
                        </div>

                        <div class="product-card-mid">
                          <div class="product-price">
                            <p><span>$</span>100</p>
                          </div>
                          <div class="product-available-variants">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="product-card-cta">
                        <div class="quantity-minus">
                          <button>
                            <svg
                              width="16"
                              height="1"
                              viewBox="0 0 16 1"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 0.5H15" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="add-to-bundle">
                          <button>Add to Cart</button>
                        </div>
                        <div class="quantity-plus">
                          <button>
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M11 5.5V19.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4 12.5H18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-card">
                    <div class="product-card-wrapper">
                      <div class="product-card-image">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                          alt=""
                          width="100%"
                          height="100%"
                        >
                      </div>

                      <div class="product-card-content">
                        <div class="product-card-top">
                          <div class="product-title">
                            <h4>Art De La Table bainville t-shirt</h4>
                          </div>
                          <div class="current-variant">
                            <p>Black</p>
                          </div>
                        </div>

                        <div class="product-card-mid">
                          <div class="product-price">
                            <p><span>$</span>100</p>
                          </div>
                          <div class="product-available-variants">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="product-card-cta">
                        <div class="quantity-minus">
                          <button>
                            <svg
                              width="16"
                              height="1"
                              viewBox="0 0 16 1"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 0.5H15" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="add-to-bundle">
                          <button>Add to Cart</button>
                        </div>
                        <div class="quantity-plus">
                          <button>
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M11 5.5V19.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4 12.5H18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-card">
                    <div class="product-card-wrapper">
                      <div class="product-card-image">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                          alt=""
                          width="100%"
                          height="100%"
                        >
                      </div>

                      <div class="product-card-content">
                        <div class="product-card-top">
                          <div class="product-title">
                            <h4>Art De La Table bainville t-shirt</h4>
                          </div>
                          <div class="current-variant">
                            <p>Black</p>
                          </div>
                        </div>

                        <div class="product-card-mid">
                          <div class="product-price">
                            <p><span>$</span>100</p>
                          </div>
                          <div class="product-available-variants">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="product-card-cta">
                        <div class="quantity-minus">
                          <button>
                            <svg
                              width="16"
                              height="1"
                              viewBox="0 0 16 1"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 0.5H15" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="add-to-bundle">
                          <button>Add to Cart</button>
                        </div>
                        <div class="quantity-plus">
                          <button>
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M11 5.5V19.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4 12.5H18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-card">
                    <div class="product-card-wrapper">
                      <div class="product-card-image">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                          alt=""
                          width="100%"
                          height="100%"
                        >
                      </div>

                      <div class="product-card-content">
                        <div class="product-card-top">
                          <div class="product-title">
                            <h4>Art De La Table bainville t-shirt</h4>
                          </div>
                          <div class="current-variant">
                            <p>Black</p>
                          </div>
                        </div>

                        <div class="product-card-mid">
                          <div class="product-price">
                            <p><span>$</span>100</p>
                          </div>
                          <div class="product-available-variants">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="product-card-cta">
                        <div class="quantity-minus">
                          <button>
                            <svg
                              width="16"
                              height="1"
                              viewBox="0 0 16 1"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 0.5H15" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="add-to-bundle">
                          <button>Add to Cart</button>
                        </div>
                        <div class="quantity-plus">
                          <button>
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M11 5.5V19.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4 12.5H18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-card">
                    <div class="product-card-wrapper">
                      <div class="product-card-image">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                          alt=""
                          width="100%"
                          height="100%"
                        >
                      </div>

                      <div class="product-card-content">
                        <div class="product-card-top">
                          <div class="product-title">
                            <h4>Art De La Table bainville t-shirt</h4>
                          </div>
                          <div class="current-variant">
                            <p>Black</p>
                          </div>
                        </div>

                        <div class="product-card-mid">
                          <div class="product-price">
                            <p><span>$</span>100</p>
                          </div>
                          <div class="product-available-variants">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="product-card-cta">
                        <div class="quantity-minus">
                          <button>
                            <svg
                              width="16"
                              height="1"
                              viewBox="0 0 16 1"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 0.5H15" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="add-to-bundle">
                          <button>Add to Cart</button>
                        </div>
                        <div class="quantity-plus">
                          <button>
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M11 5.5V19.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M4 12.5H18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="side-cart-container">
          <div class="side-cart-header">
            <div class="cart-head">
              <h3>Cart</h3>
            </div>
            <div class="cart-totoal-added-products">
              <p><span class="added-products-count">3</span> / <span class="total-products-count">6</span> products</p>
            </div>
          </div>

          <div class="side-cart-stepper">
            <div class="discount-stepper small">
              <div class="discount-stepper-item active">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
              <div class="discount-stepper-item active">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
              <div class="discount-stepper-item">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
              <div class="discount-stepper-item">
                <div class="discount-condition">
                  <p>1 product</p>
                </div>
                <div class="discount-value">
                  <p>15% off</p>
                </div>
              </div>
            </div>

            <div class="discount-info-container small">
              <div class="discount-info-container-header">
                <h3>
                  <svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.6 23.32C1.57333 23.3467 1.46667 23.3067 1.28 23.2C1.12 23.12 0.973333 23.0267 0.84 22.92C0.706667 22.8133 0.653333 22.7467 0.68 22.72L17.88 0.96C17.9333 0.879999 18.04 0.893333 18.2 1C18.36 1.08 18.5067 1.18666 18.64 1.32C18.7733 1.45333 18.8133 1.54667 18.76 1.6L1.6 23.32ZM13.08 23.2C11.8267 23.2 10.8667 22.7067 10.2 21.72C9.56 20.7067 9.37333 19.48 9.64 18.04C9.8 17.08 10.1333 16.2133 10.64 15.44C11.1467 14.6667 11.7733 14.0533 12.52 13.6C13.2667 13.1467 14.0533 12.92 14.88 12.92C16.1067 12.92 17.0267 13.4267 17.64 14.44C18.28 15.4533 18.4667 16.6667 18.2 18.08C17.9333 19.52 17.32 20.7333 16.36 21.72C15.4267 22.7067 14.3333 23.2 13.08 23.2ZM13.4 22.6C14.2 22.6 14.76 22.2 15.08 21.4C15.4267 20.6 15.68 19.5867 15.84 18.36C16.08 16.76 16.08 15.56 15.84 14.76C15.6267 13.9333 15.2 13.52 14.56 13.52C13.7867 13.52 13.2 13.9467 12.8 14.8C12.4267 15.6267 12.16 16.6533 12 17.88C11.76 19.2133 11.7333 20.3333 11.92 21.24C12.1067 22.1467 12.6 22.6 13.4 22.6ZM5.28 10.88C4.02667 10.88 3.08 10.3867 2.44 9.4C1.8 8.38667 1.61333 7.14667 1.88 5.68C2.04 4.74667 2.37333 3.89333 2.88 3.12C3.38667 2.34667 4.01333 1.73333 4.76 1.28C5.50667 0.826666 6.29333 0.6 7.12 0.6C8.37333 0.6 9.30667 1.10667 9.92 2.12C10.5333 3.13333 10.7067 4.36 10.44 5.8C10.1733 7.21333 9.56 8.41333 8.6 9.4C7.64 10.3867 6.53333 10.88 5.28 10.88ZM5.6 10.32C6.37333 10.32 6.92 9.92 7.24 9.12C7.58667 8.32 7.85333 7.30667 8.04 6.08C8.30667 4.48 8.32 3.26667 8.08 2.44C7.86667 1.61333 7.44 1.2 6.8 1.2C6 1.2 5.41333 1.62667 5.04 2.48C4.66667 3.33333 4.38667 4.36 4.2 5.56C3.98667 6.89333 3.97333 8.02667 4.16 8.96C4.34667 9.86667 4.82667 10.32 5.6 10.32Z" fill="white"/>
                  </svg>
                  Add 2 more items for maximum discount of 35%!
                </h3>
              </div>
            </div>
          </div>

          <div class="side-cart-product-container">
            <div class="side-cart-products">
              <div class="sc-product-item">
                <div class="scpt-image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                    alt=""
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="scpt-content">
                  <div class="scpt-title">
                    <h4>Wrist Watch Dark</h4>
                  </div>
                  {% comment %}
                    <div class="scpt-variant">
                      <p>Black/M</p>
                    </div>
                  {% endcomment %}
                  <div class="scpt-price-wrapper">
                    <div class="scpt-price old-price">
                      <p><span>$</span>100</p>
                    </div>
                    <div class="scpt-price new-price">
                      <p><span>$</span>100</p>
                    </div>
                  </div>
                </div>

                <div class="scpt-remove-item">
                  <button>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" rx="12" fill="#0F0F0F"/>
                      <path d="M14.8281 9.17188L9.17127 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9.17188 9.17188L14.8287 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="sc-product-item">
                <div class="scpt-image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                    alt=""
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="scpt-content">
                  <div class="scpt-title">
                    <h4>Wrist Watch Dark</h4>
                  </div>
                  {% comment %}
                    <div class="scpt-variant">
                      <p>Black/M</p>
                    </div>
                  {% endcomment %}
                  <div class="scpt-price-wrapper">
                    <div class="scpt-price old-price">
                      <p><span>$</span>100</p>
                    </div>
                    <div class="scpt-price new-price">
                      <p><span>$</span>100</p>
                    </div>
                  </div>
                </div>

                <div class="scpt-remove-item">
                  <button>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" rx="12" fill="#0F0F0F"/>
                      <path d="M14.8281 9.17188L9.17127 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9.17188 9.17188L14.8287 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="sc-product-item">
                <div class="scpt-image">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0915/6725/9955/files/image.png?v=1734352604"
                    alt=""
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="scpt-content">
                  <div class="scpt-title">
                    <h4>Wrist Watch Dark</h4>
                  </div>
                  {% comment %}
                    <div class="scpt-variant">
                      <p>Black/M</p>
                    </div>
                  {% endcomment %}
                  <div class="scpt-price-wrapper">
                    <div class="scpt-price old-price">
                      <p><span>$</span>100</p>
                    </div>
                    <div class="scpt-price new-price">
                      <p><span>$</span>100</p>
                    </div>
                  </div>
                </div>

                <div class="scpt-remove-item">
                  <button>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" rx="12" fill="#0F0F0F"/>
                      <path d="M14.8281 9.17188L9.17127 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9.17188 9.17188L14.8287 14.8287" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="side-cart-checkout">
            <div class="side-cart-checkout-wrapper">
              <div class="side-cart-checkout-item subtotal">
                <p>Subtotal</p>
                <p><span>$</span>100</p>
              </div>
              <div class="side-cart-checkout-item discount">
                <p>Discount</p>
                <p><span>$</span>100</p>
              </div>
              <div class="side-cart-checkout-item total">
                <p>Total</p>
                <p><span>$</span>100</p>
              </div>
            </div>
            <div class="side-cart-checkout-cta">
              <button>Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // side cart expand and shrink on devices width < 1025px
  const sideCart = document.querySelector('.side-cart-container');
  const sideCartShrink = document.querySelector('.side-cart-shrink');
  const sideCartExpand = document.querySelector('.side-cart-expand');

  // Initial setup for mobile devices
  if (window.innerWidth < 1025) {
    sideCart.classList.add('side-cart-shrink');
  }

  window.addEventListener('resize', () => {
    if (window.innerWidth < 1025) {
      sideCart.classList.add('side-cart-shrink');
    } else {
      sideCart.classList.remove('side-cart-shrink');
    }
  });

  sideCart.addEventListener('click', () => {
    if (window.innerWidth < 1025) {
      if(sideCart.classList.contains('side-cart-shrink')){
        sideCart.classList.remove('side-cart-shrink');
        sideCart.classList.add('side-cart-expand');
      } else {
        if(sideCart.classList.contains('side-cart-expand')){
          sideCart.classList.remove('side-cart-expand');
          sideCart.classList.add('side-cart-shrink');
        }
      }
    }
  });

</script>
