:root {

  /* font weights */
  --fw-thin: 300;
  --fw-light: 400;
  --fw-regular: 500;
  --fw-medium: 600;
  --fw-bold: 700;
  --fw-black: 900;

  /* font sizes */
  --fs-12: clamp(12px, 1.2vmax, 12px);
  --fs-14: clamp(14px, 1.4vmax, 14px);
  --fs-16: clamp(14px, 1.5vmax, 16px);
  --fs-18: clamp(16px, 1.5vmax, 18px);
  --fs-22: clamp(18px, 2vmax, 22px);
  --fs-24: clamp(20px, 2.2vmax, 24px);
  --fs-30: clamp(24px, 2.5vmax, 30px);
  --fs-32: clamp(26px, 2.5vmax, 32px);
  --fs-50: clamp(36px, 3.2vmax, 50px);

  /* line heights */
  --lh-13: 13.2px;
  --lh-16: 16px;
  --lh-20: 20px;
  --lh-24: 24px;
  --lh-31: 31px;
  --lh-38: 38px;
  --lh-60: 60px;

  /* letter spacing */
  --ls-016: 0.16px;
  --ls-016n: -0.16px;
  --ls-064: 0.64px;
  --ls-32: 3.2px;
  --ls-176: 1.76px;

  /* colors */
  --clr-black: #0F0F0F;
  --clr-white: #FFFFFF;
  --clr-gray: #626262;
  --clr-gray-light: #F3F3F3;
  --clr-gray-dark: #E0E0E0;
  --clr-gray-bg: #F8F8F8;

  /* typography */
  --font-normal: normal;
  --font-italic: italic;
  --font-underline: underline;
  --font-uppercase: uppercase;
  --font-capitalize: capitalize;
  --font-lowercase: lowercase;
  --font-transform-none: none;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-style: var(--font-normal);
  font-weight: var(--fw-regular);
  line-height: var(--lh-38);
  letter-spacing: var(--ls-016);
}

/* .bundlesuite-container {
  background-color: var();
} */

.bundlesuite-container-content {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 60px; */
}

.template-top-data {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
  padding: 72px 60px;
  background-color: var(--clr-gray-bg);
}

.template-top-data-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.template-top-data-header-title h2 {
  font-size: var(--fs-50);
  font-weight: var(--fw-regular);
  line-height: var(--lh-60);
  color: var(--clr-black);
  letter-spacing: var(--ls-016);
  text-transform: var(--font-capitalize);
  font-style: var(--font-normal);
}

.template-top-data-header-description p {
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  line-height: var(--lh-24);
  color: var(--clr-black);
  letter-spacing: var(--ls-064);
  max-width: 55ch;
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.template-top-data-discount-info {
  width: 55%;
  display: flex;
  gap: 44px;
}

.discount-info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.discount-info-item-title h3 {
  font-size: var(--fs-30);
  font-weight: var(--fw-regular);
  line-height: var(--lh-31);
  letter-spacing: var(--ls-016);
  font-style: var(--font-italic);
  color: var(--clr-black);
  text-transform: var(--font-transform-none);
}

.discount-info-item-description p {
  font-size: var(--fs-12);
  font-weight: var(--fw-light);
  line-height: var(--lh-16);
  color: var(--clr-black);
  letter-spacing: var(--ls-32);
  text-align: center;
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.discount-info-container-header {
  background-color: var(--clr-black);
  padding: 24px 32px 21px 32px;
  border-radius: 0px;
}

.discount-info-container.small .discount-info-container-header {
  padding: 12px 22px;

  svg {
    width: 18px;
    height: 18px;
  }
}

.discount-info-container-header h3 {
  font-size: var(--fs-18);
  font-weight: var(--fw-medium);
  line-height: var(--lh-24);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  gap: 12px;
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.discount-info-container.small h3 {
  font-size: var(--fs-14);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.discount-stepper {
  display: flex;
  align-items: center;
  gap: 80px;
  align-items: center;
  padding: 0 32px;
  padding-bottom: 60px;
  overflow: hidden;
  /* justify-content: center; */
}

.discount-stepper-item {
  position: relative;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.discount-stepper-item::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--clr-gray-dark);
  border-radius: 50%;
}

.discount-stepper-item::after {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% + 95px);
  bottom: -90%;
  left: calc(-100% - 50px);
  background-color: var(--clr-gray-dark);
}

.discount-stepper.small .discount-stepper-item::after {
  width: calc(100% + 35px);
  left: calc(-100% - 12px);
}

.discount-stepper-item:first-child::after {
  left: -60%;
  width: 105%;
}

.discount-stepper-item.active::before {
  background-color: var(--clr-black);
  z-index: 1;
}

.discount-stepper-item.active::after {
  background-color: var(--clr-black);
  z-index: 1;
}


.discount-stepper-item .discount-condition p {
  font-size: var(--fs-12);
  font-weight: var(--fw-light);
  color: var(--clr-black);
  align-items: center;
  line-height: var(--lh-16);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.discount-stepper-item .discount-value p {
  font-size: var(--fs-22);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  align-items: center;
  text-transform: var(--font-uppercase);
  line-height: var(--lh-13);
  font-style: var(--font-normal);
}

.discount-stepper.small {
  gap: 18px;
}

.discount-stepper.small .discount-stepper-item {
  gap: 0px;
}

.discount-stepper.small .discount-stepper-item .discount-value p {
  font-size: var(--fs-12);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.main-wrapper {
  margin-top: 60px;
}

.collection-info-container-header h3 {
  font-size: var(--fs-32);
  font-weight: var(--fw-regular);
  color: var(--clr-black);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.collection-info-container-content p {
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  color: var(--clr-black);
  letter-spacing: var(--ls-064);
  max-width: 60ch;
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}


.collection-tab-links-container {
  display: flex;
  align-items: center;
  gap: 95px;
  margin-top: 56px;
}

.tab-link-item {
  font-size: var(--fs-12);
  font-weight: var(--fw-light);
  color: var(--clr-black);
  letter-spacing: var(--ls-32);
  text-transform: var(--font-uppercase);
  cursor: pointer;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--clr-gray);
  font-style: var(--font-normal);
}

.tab-link-item:not(:first-child) {
  position: relative;
}

.tab-link-item:not(:first-child)::before {
  content: '';
  position: absolute;
  bottom: 10%;
  left: -45%;
  height: 14px;
  width: 1px;
  background-color: var(--clr-gray);
}

.tab-link-item:not(:first-child)::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: -45%;
  height: 14px;
  width: 1px;
  background-color: #626262;
  transform: rotate(90deg);
}

.collection-tab-content-container {
  margin-top: 52px;
}

.collection-tab-content-item {
  margin-top: 38px;
}

.collection-products-container-header {
  margin-bottom: 38px;
}

.collection-products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.product-card {
  width: 100%;
}

.product-card-image {
  aspect-ratio: 5/4;
  height: 100%;
  width: 100%;
}

.product-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-content {
  margin-top: 16px;
  padding: 0 16px;
  border-left: 1px solid var(--clr-gray-light);
  border-right: 1px solid var(--clr-gray-light);
}

.product-title h4 {
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  color: var(--clr-black);
  line-height: var(--lh-20);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.current-variant p {
  font-size: var(--fs-12);
  font-weight: var(--fw-light);
  color: var(--clr-black);
  line-height: var(--lh-16);
  letter-spacing: var(--ls-32);
  text-transform: var(--font-uppercase);
  margin-top: 15px;
  font-style: var(--font-normal);
}

.product-card-mid {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price p {
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  line-height: var(--lh-16);
  letter-spacing: var(--ls-176);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.product-available-variants span {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: var(--clr-gray);
  border-radius: 50%;
}

.product-available-variants span:not(:first-child) {
  margin-left: -10px;
  background-color: var(--clr-black);
}


.product-card-cta {
  margin-top: 22px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    height: 38px;
    color: var(--clr-white);
    background-color: var(--clr-black);
    font-size: var(--fs-12);
    font-weight: var(--fw-light);
    line-height: var(--lh-16);
    letter-spacing: var(--ls-32);
    text-align: center;
    width: 100%;
    font-style: var(--font-normal);
    text-transform: var(--font-uppercase);
  }
}

.quantity-minus,
.quantity-plus {
  width: 40px;
  max-height: 38px;
}

.add-to-bundle {
  width: calc(100% - 80px);
  max-height: 38px;
}


.template-product-discount-container {
  position: relative;
}

.tpdc-wrapper {
  display: flex;
  align-items: start;
  gap: 40px;
  width: 100%;
  padding: 0 60px;
  margin-top: 76px;
}

.main-product-content-container {
  width: calc(70% - 40px);
}

.side-cart-container {
  width: 30%;
  background-color: var(--clr-gray-bg);
  /* position: relative; */
  /* height: max-content; */
  position: sticky;
  top: 100px;
}

.side-cart-header {
  padding: 22px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-head h3 {
  font-size: var(--fs-24);
  font-weight: var(--fw-medium);
  color: var(--clr-black);
  letter-spacing: var(--ls-016);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.cart-totoal-added-products p {
  font-size: var(--fs-12);
  font-weight: var(--fw-light);
  letter-spacing: var(--ls-32);
  color: var(--clr-black);
  text-align: right;
  text-transform: var(--font-uppercase);
  font-style: var(--font-normal);
}

.side-cart-product-container {
  padding: 58px 24px;
  height: 100%;
  max-height: 30vh;
  overflow: hidden;
  overflow-y: auto;
}

.side-cart-products {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sc-product-item {
  display: flex;
  align-items: stretch;
  position: relative;
}

.scpt-image {
  aspect-ratio: 5/3;
  height: 100%;
  width: 118px;
}

.scpt-content {
  padding: 10px 18px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(100% - 118px);
}

.scpt-title h4 {
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  color: var(--clr-black);
  line-height: var(--lh-16);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.scpt-remove-item {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.scpt-price-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scpt-price p {
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  line-height: var(--lh-16);
  letter-spacing: var(--ls-176);
  text-transform: var(--font-uppercase);
  font-style: var(--font-normal);
}

.scpt-price.old-price p {
  text-decoration: line-through;
  color: #A7A7A7;
}

.side-cart-checkout {
  border-top: 1px solid#E0E0E0;
}

.side-cart-checkout-wrapper {
  padding: 38px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 0;

}

.side-cart-checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: var(--fs-12);
    font-weight: var(--fw-light);
    color: var(--clr-black);
    line-height: var(--lh-16);
    letter-spacing: var(--ls-32);
    text-transform: uppercase;
  }
}

.side-cart-checkout-cta {
  margin-top: 38px;

  button {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-size: var(--fs-12);
    font-weight: var(--fw-light);
    line-height: var(--lh-16);
    letter-spacing: var(--ls-32);
    text-align: center;
    padding: 14px 0;
    text-transform: var(--font-uppercase);
    font-style: var(--font-normal);
  }
}

.product-variant-selector {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: max-content;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #FFFFFF;
  z-index: 10;
  border: 1px solid #000000;
  border-right: none;
}

.product-variant-selector.closed {
  display: none;
}

.product-variant-selector-wrapper {
  padding: 30px;
  padding-bottom: 0px;
}

.close-variant-selector button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-variant-selector-header {
  margin-top: 28px;
}

.product-variant-selector-header h3 {
  font-size: var(--fs-32);
  font-weight: var(--fw-regular);
  color: #0F0F0F;
  letter-spacing: var(--ls-016n);
  line-height: var(--lh-38);
  font-style: var(--font-normal);
  text-transform: var(--font-transform-none);
}

.product-variant-selector-colors {
  margin-top: 38px;
}

.pvsc-header p {
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  color: #0F0F0F;
  line-height: var(--lh-24);
  letter-spacing: var(--ls-064);
}

.pvsc-items-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.product-variant-selector-size {
  margin-top: 54px;
}

.pvsc-items-container.size-items-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 10px 16px;
  flex-wrap: wrap;
}

.pvsc-item.selected {
  background-color: var();
  padding: 10px 16px;

}


.product-variant-selector-cta {
  margin-top: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-size: var(--fs-12);
    font-weight: var(--fw-light);
    line-height: var(--lh-16);
    letter-spacing: var(--ls-32);
    text-align: center;
    padding: 14px 0;
    text-transform: var(--font-uppercase);
    cursor: pointer;
    font-style: var(--font-normal);
  }
}

.side-cart-shrink .side-cart-product-container{
  display: none;
}

.side-cart-shrink .side-cart-checkout-wrapper{
  display: none;
}

.side-cart-shrink .discount-info-container{
  display: none;
}

.side-cart-container.side-cart-shrink{
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
  z-index: 99;
  padding: 12px 16px;
  height: max-content;
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #BEBEBE;
}

.side-cart-container.side-cart-expand{
  position: fixed;  
  top: auto;
  left: 0;
  bottom: 0;
  height: 80vh;
  width: 100%;
  z-index: 99;
  padding: 12px 16px;
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #BEBEBE;
}


@media (max-width: 1025px) {
  .tpdc-wrapper{
    flex-direction: column;
    padding: 0 40px;
  }
  .main-product-content-container{
    width: 100%;
  }
  .side-cart-container{
    width: 100%;
  }

  .template-top-data{
    padding: 40px 40px;
  }
}



@media (max-width: 766px) {
  .tpdc-wrapper{
    padding: 0 20px;
    margin-top: 48px;
  }
  .template-top-data{
    padding: 30px 20px;
    flex-direction: column;
  }

  .template-top-data-header{
    width: 100%;
    gap: 10px;
  }

  .template-top-data-discount-info{
    width: 100%;
  }

  .collection-products-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .collection-tab-links-container{
    margin-top: 16px;
  }

  .collection-tab-content-item{
    margin-top: 32px;
  }

  .collection-products-container-header{
    margin-bottom: 16px;
  }

  .discount-stepper{
    padding: 0 16px;
    padding-bottom: 60px;
    gap: 18px;
    overflow-x: auto;
  }

  .discount-stepper-item{
    flex-shrink: 0;
  }

  .template-top-data-discount-info{
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  .discount-info-item{
    flex-shrink: 0;
  }

  .discount-info-container-header{
    padding: 12px 16px;
  }

  .side-cart-product-container{
    padding: 16px 20px 0 0;
  }

  .side-cart-header{
    padding:0;
    padding-bottom: 20px;
  }

  .side-cart-checkout-wrapper{
    padding: 0;
    padding-top: 24px;
  }

  .side-cart-checkout-cta{
    margin-top: 24px;
  }
}

